<li class="dropdown" data-admin-menu>
    @* This menu has to be referenced in the shared _layout *@
    <a href="#">
        Admin
        <span class="glyphicon glyphicon-circle-arrow-down"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li class="divider"></li>
        <li><a href="/MembershipType">&nbsp;&nbsp; Membership</a></li>
        <li><a href="/Branch">&nbsp;&nbsp; Branch</a></li>
        <li class="divider"></li>
        <li><a href="/Kit">&nbsp;&nbsp; Kit</a></li>
        <li><a href="/User">&nbsp;&nbsp; User</a></li>
        <li class="divider"></li>
    </ul>
</li>
