@model ScienceAndCiao.Services.IndivButtonPartial
    @using ScienceAndCiao.Services

<td style="width:400px;">
    <div class="btn-group" role="group">
        @Html.Partial("_IndivButtonPartial",
       new IndivButtonPartial
       {
           Action = "Edit",
           ButtonType = "btn-primary",
           Glyph = "pencil",
           Text = "Edit",
           BranchId = Model.BranchId,
           KitId = Model.KitId,
           CustomerId = Model.CustomerId,
           MembershipTypeId = Model.MembershipTypeId,
           UserId= Model.UserId,
       })
        @Html.Partial("_IndivButtonPartial",
      new IndivButtonPartial
      {
          Action = "Details",
          ButtonType = "btn-success",
          Glyph = "list",
          Text = "Details",
          BranchId = Model.BranchId,
          KitId = Model.KitId,
          CustomerId = Model.CustomerId,
          MembershipTypeId = Model.MembershipTypeId,
          UserId = Model.UserId,
      })
        @Html.Partial("_IndivButtonPartial",
        new IndivButtonPartial
        {
            Action = "Delete",
            ButtonType = "btn-danger",
            Glyph = "trash",
            Text = "Delete",
            BranchId = Model.BranchId,
            KitId = Model.KitId,
            CustomerId = Model.CustomerId,
            MembershipTypeId = Model.MembershipTypeId,
            UserId = Model.UserId,
        })
    </div>
</td>
